@model Web.ViewModels.Books.ISBNCreateViewModel

@{
    ViewData["Title"] = ViewResource.Create;
}

<h1>@ViewResource.Create</h1>

<h4>@ViewResource.ISBN</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@nameof(MVC.Books.Create)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@ViewResource.Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr />

<div>
    <a asp-action="@nameof(MVC.Books.Index)">@ViewResource.Books</a>
</div>
